
p{
    font-size: 2.2rem;
}
.servicos-pagina-icono{
    width: 200px;
}
.contenedor-servicios-pagina{
    text-align: center;
}
.seccion-servicios-pagina-lista{
    background-color: rgba(0, 128, 0, 0.061);
    padding: 20px;
}
.lista-ul-pagina li{
    list-style: none;
    color: grey;
    line-height: 4rem;
}
.cuerpo-templo{
    background-color: #b46427d3;

  
}
.cuerpo-templo h3{
    color: white;
    padding-top: 50px ;
    padding-bottom: 50px;
    
}
.division{
    border: 0;
    width: 1600px;
    height: 10px;
    margin-top: 80px;
    background-color: #658f3d5e;
}
.acompanamiento{
    margin-top: 200px;
}
.tu-primera-cita{
    margin-top: 80px;
}
.seccion-servicios-pagina-lista.es-para-mi {
    background-color: rgba(11, 128, 0, 0.192);
}